$dark-blue: #acc2cd;
$mid-blue: #c9dde8;
$light-blue: #d8e9f1;
$dark-violet: #aa9cb3;
$violet: #c2b1c3;
$dark-pink: #dac5d4;
$salmon: #f6d0cd;
$pink: #fae1e4;
$peach: #f5c4b6;
$dark-brown: #b09991;
$brown: #cab2a6;
$light-brown: #e3d0c9;
$beige: #ece0dc;
$light-beige: #ece0dc;
